<!DOCTYPE html>
<html>
	<head>
		<title>Aling Nena's Sari-sari store</title>
		<link href="css/bootstrap.css" rel="stylesheet">
	</head>
<body>
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Aling Nena's Sari-Sari Store</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/about">About</a></li>
            <li><a href="/products">Products</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <br/><br/><br/>
    <div class="container">
      <div class="row">
       <div class="col-md-6">
        <h1>About the Owner</h1>
        <p class="About">Aling Nena is a very caring entrepreneur, able to provide her customers with a lot of convenient items and convenient service. As time passes her store grows with each purchase.</p>
       </div>
	   <div class="col-md-6">
	   <img src="aling_nena.jpg" height="60%" width="60%"/>
	   </div>
	   <div class="row">
	   <div class="col-md-6">
	   <h1>The history of Aling Nena's Sari-Sari Store</h1>
	   <p class="About">Started as a small sari-sari store in Aling Nena's local barangay, it grew to a franchise serving customers around Manila.</p>
	   </div>
	   <div class="col-md-6">
	   <img src="sari-sari.jpg" height="60%" width="60%"/>
	   </div>
     </div>
    </div>
  </body>
</html>